{% extends "base.html" %} 
{% load static %}

{% block title %} 
  My Blog 
{% endblock %} 

{% block css_files %}
  <link rel="stylesheet" href="{% static "blog/post.css" %}" />
  <link rel="stylesheet" href="{% static "blog/index.css" %}" />
{% endblock %}

{% block content %}
  <section id="welcome">
    <header>
      <img src="{% static "blog/images/me.jpeg" %}" alt="Poe - The Author Of This Blog" />
      <h2>POE'S BLOG</h2>
    </header>
    <p>Hi, I am Poe and I love to blog about tech and the world!</p>
  </section>

  <section id="latest-posts">
    <h2>My Latest Thoughts</h2>

    <ul>
      {% for post in posts %}
        {% include "blog/includes/post.html" %}
      {% endfor %}
    </ul>
  </section>

  <section id="about">
    <h2>What I Do</h2>
    <p>
      Of dreaming once and that devil unmerciful dreams. Into much obeisance nearly gloating over, in into meant and bird out.
    </p>
    <p>
      My sure upon streaming velvet thy implore said came mystery for, eagerly and seeing beguiling on. Only leave is spoken.
    </p>
  </section>
{% endblock %}
